	<div class="app-flex-container">
		<div class="main">
		</div>

  <!--/*YONGE-UNIVERSITY-SPADINA LINE*/-->
	<div class="dot" [class.pulse] = "isStationClear('downsview')" id="downsview"></div>
  <div class="dot" [class.pulse] = "isStationClear('wilson')" id="wilson"></div>
  <div class="dot" [class.pulse] = "isStationClear('yorkdale')" id="yorkdale"></div>
  <div class="dot" id="lawrenceW"></div>
  <div class="dot" [class.pulse] = "isStationClear('glencairn')" id="glencairn"></div>
  <div class="dot" [class.pulse] = "isStationClear('west')" id="eglintonWest"></div>
  
  <div class="dot" [class.pulse] = "isStationClear('stclair')" id="stclairWest"></div>
  <div class="dot" [class.pulse] = "isStationClear('dupont')"  id="dupont"></div>
  <div class="dot" [class.pulse] = "isStationClear('spadina')" id="spadinaYUS"></div>
  <div class="dot" [class.pulse] = "isStationClear('stgeorge')" id="stgeorgeYUS"></div>

  <div class="dot" [class.pulse] = "isStationClear('museum')" id="museum"></div>
  <div class="dot" [class.pulse] = "isStationClear('queens')" id="queensPark"></div>
  <div class="dot" [class.pulse] = "isStationClear('stpatrick')" id="stPatrick"></div>
  <div class="dot" [class.pulse] = "isStationClear('osgoode')" id="osgoode"></div>
  <div class="dot" [class.pulse] = "isStationClear('standrew')" id="stAndrew"></div>

  <div class="dot" [class.pulse] = "isStationClear('union')"  id="union"></div>

  <div class="dot" [class.pulse] = "isStationClear('king')" id="king"></div>
  <div class="dot" [class.pulse] = "isStationClear('queen')" id="queen"></div>
  <div class="dot" [class.pulse] = "isStationClear('dundas')" id="dundas"></div>
  <div class="dot" [class.pulse] = "isStationClear('college')" id="college"></div>
  <div class="dot" [class.pulse] = "isStationClear('wellesley')" id="wellesley"></div>

  <div class="dot" [class.pulse] = "isStationClear('bloorYonge')" id="bloorYonge"></div>
  <div class="dot" [class.pulse] = "isStationClear('rosedale')" id="rosedale"></div>
  <div class="dot" [class.pulse] = "isStationClear('summerhill')" id="summerhill"></div>
  <div class="dot" [class.pulse] = "isStationClear('stclair')" id="stClair"></div>
  <div class="dot" [class.pulse] = "isStationClear('davisville')" id="davisville"></div>
  <div class="dot" [class.pulse] = "isStationClear('eglinton')" id="eglinton"></div>
  <div class="dot" [class.pulse] = "isStationClear('lawrence')" id="lawrence"></div>
  <div class="dot" [class.pulse] = "isStationClear('yorkMills')" id="yorkMills"></div>
  <div class="dot" [class.pulse] = "isStationClear('sheppardyonge')" id="sheppardYongeYUS"></div>
  <div class="dot" [class.pulse] = "isStationClear('centre')" id="northYorkCentre"></div>
  <div class="dot" [class.pulse] = "isStationClear('finch')" id="finch"></div>